<table>
<tr><td><div>@main("EMS Scala")</div></td></tr>
<!--<div>
<h1>The Game</h1>
</div>-->
<tr>
<div class="smart-green">
<h1>Add new Employee</h1>

<form class="container" method="get" action='@routes.Application.addperson()'>
<br>
Code: <input type="text" name="id" placeholder="Unique ID" required>
<br><br>
Name: <input type="text" name="FirstName" required>
<br><br>
City: <input type="text" name="city" required>
<br>
<button type="submit" class="btn btn-link">Add</button>
</form>
</div>
</tr>
</table>